<h2><%= @user.name %></h2>

<ul>
  <li>Name: <%= @user.name %></li>
  <li>Date of birth: <%= @user.dob.strftime '%A, %B %e, %Y' if @user.dob.present? %></li>
  <li>Email: <%= @user.email %></li>
  <li>Phone Number: <%= @user.phoneNumber %></li>

</ul>

<div class="controls">
  <%= link_to "Edit User", edit_user_path(@user) %>
  <%= link_to "Delete #{ @user.name }", @user, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
