
<div class="header" id="myHeader">
  <table class="table table-striped table-hover"  id="players" >

    <thead class="thead-dark">

     <tr>
       <th scope="col"></th>
       <th scope="col">Name</th>
       <th scope="col">Nationality</th>
       <%# <th scope="col">Club</th> %>
       <th scope="col">Team</th>
       <th scope="col">Market Value</th>
       <th scope="col">Position</th>
       <th scope="col">Age</th>
     </tr>
   </thead>

    <tbody class="tableBody">
      <% @players.each do |player| %>

        <tr>
          <td scope="col"><%= image_tag player.image, :class => 'tiny' if player.image.present? %></td>
          <td scope="col"><%= link_to player.name, player_path(player.id) %></td>
          <td scope="col"><%= player.nationality %></td>
          <%# <td scope="col"><%= player.club.try(:name) <%= image_tag(player.club.image,  :class =>'tiny')if player.club.present?</td> %>  %>
          <td scope="col"><%= player.team %> <%= image_tag(player.teamLogo,  :class =>'tiny')%></td> 
          <td scope="col"><%= number_to_currency player.market_value, :unit => '€'  if player.market_value? %></td>
          <td scope="col"><%= player.position %></td>
          <td scope="col"><%= ((Time.zone.now - player.dob.to_time) / 1.year.seconds).floor if player.dob.present? %></td>


        </tr>
        <% end %>

    </tbody>
  </table>
</div>
<script>

window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
   header.classList.remove("sticky");
   }
}

</script>
