<div class="showPlayer">
<h2><%= @player.name %></h2>
<div class='playerPic'>
<%= image_tag @player.image, :class => 'feature' if @player.image.present? %>
  </div>
<ul>
  <li>Nationality: <%= @player.nationality %></li>
  <li>Date of birth: <%= @player.dob.strftime '%A, %B %e, %Y' if @player.dob.present? %></li>
  <li>marke Value: <%= @player.market_value %></li>
  <li>Position: <%= @player.position %></li>
  <li>Club: <%= @player.club.try(:name) %></li>
</ul>
</div>
<div class="controls">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit" ><%= link_to "Edit Player", edit_player_path(@player) %></button>
  
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ><%= link_to "Delete #{ @player.name }", @player, :method => 'delete', :data => { :confirm => 'Are you sure?' } %></button>
</div>

